@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for WebKit browsers */
* ::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}

.outlet {
  height: calc(100vh - 70px);
}

.profile-tags a.active {
  border: 2px solid grey;
}



/* Add these styles to your CSS file or a <style> tag */
@keyframes tick-mark {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-icon {
  transition: transform 0.3s ease-in-out;
}

.tick-mark {
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  opacity: 0;
  transform: scale(0);
  animation: tick-mark 0.5s forwards;
}
